.gallery-view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 10rem;
    padding-block: 3rem;
}

.gallery-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 1rem;
}

.filter-button {
    color: rgb(164, 160, 153);
    background: rgba(0,0,0,0);
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    user-select: none;  
}

.filter-button.active {
    color: rgb(224, 220, 212);
    text-decoration: underline;
}

.gallery-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 0.5rem;
    background: rgb(224, 220, 212);
    margin: 0.5rem;

    text-align: center;
    font-weight: bold;
        /* color: white; */

}

.gallery-item:hover {
    background: rgb(120, 120, 120);
    border: 1px solid rgb(120, 120, 120);
}

.gallery-item:active {
    background: rgb(83, 83, 83);
    border: 1px solid rgb(120, 120, 120);
}

.gallery-item-sprite {
    image-rendering: pixelated;
    width: 9rem;
    height: 9rem;
}