.pokemon-page {
    background-color: rgb(42, 42, 60);
    color: white;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.pokemon-card {
    background-color: rgb(224, 220, 212);
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;

    height: 30rem;
    width: 40rem;
    border-radius: 15px;

    font-weight: bold;
}

.pokemon-sprite {
    image-rendering: pixelated;
    width: 15rem;
    height: 15rem;
}

.nav-button {
    color: rgb(224, 220, 212);
    background: rgba(0,0,0,0);
    border: none;
    font-weight: bold;
    font-size: 4rem;
    cursor: pointer;
    user-select: none;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; */
}

.nav-button:disabled {
    color: rgb(109, 107, 103);
    cursor: default;
}